.active {
    color: rgb(21, 54, 201);
}

.not-active {
    color: rgb(187, 66, 66);
}

.finish {
    color: rgb(16, 85, 53);
}

.not-finish {
    color: rgb(169, 147, 22);
}

.price {
    color: rgb(230, 75, 75);
    font-weight: 500;
}