.box-wallpaper {
    position: relative;
}

.wallpaper-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgb(0, 0, 0, 0.4);
    color: #fff;
}

.wallpaper-caption h3 {
    font-size: 20px;
}

.wallpaper-caption p {
    margin: 0;
}

.category-option {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 5px 15px;
    padding-top: 15px;
}

.top-product-main {
    margin-bottom: 35px;
    box-shadow: 0 0 8px #eee;
}

.product-num {
    font-weight: 500;
    color: #e03550;
}

label[for="sort"] {
    margin-right: 15px;
}

.search-bar {
    background: #fff;
    box-shadow: 0 0 8px #eee;
    padding: 5px;
    margin-bottom: 30px;
}

.search-bar .box-search form select {
    width: 28%;
}

.search-bar .box-search form {
    display: flex;
    justify-content: space-between;
}

.search-bar .box-search form input[type="search"] {
    width: 65%;
}


/* ======= product list ========= */

.item {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 8px #eee;
    margin-bottom: 30px;
}

.item:hover {
    box-shadow: 0 0 8px #888;
}

.product-thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-thumb a {
    display: block;
}

.product-thumb a img {
    transition: all .7s;
}

.product-thumb:hover a img {
    transform: scale(1.05);
}

.sale {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 700;
    border: 2px double #e03550;
    color: #e03550;
    z-index: 888;
}


/* btn */

.btn-bar {
    text-align: center;
    opacity: 0;
    width: 100%;
    position: absolute;
    bottom: 45%;
    transform: scale(0);
    z-index: 888;
    transition: all .5s;
}

.product-thumb:hover .btn-bar {
    opacity: 1;
    transform: scale(1);
}

a.btn {
    display: inline-block;
    padding: 5px 8px;
    color: #fff;
    border-radius: 2px;
    background: rgb(78, 138, 153);
}

a.btn:hover {
    background: rgb(56, 101, 112);
}

a.btn-add {
    text-align: center;
    display: block;
    border: 1px solid rgb(78, 138, 153);
    color: rgb(78, 138, 153);
    width: 100%;
    padding: 5px 0;
    border-radius: 3px;
    font-weight: 500;
    text-decoration: none;
}

a.btn-add:hover {
    background: rgb(78, 138, 153);
    color: #fff;
}


/* end btn */

.fix {
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

a.product-title {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

a.product-title:hover {
    color: #e03550;
}

.item p {
    margin-bottom: 5px;
}

.new-price {
    font-weight: 500;
    color: #e03550;
}

.old-price {
    font-style: italic;
    text-decoration: line-through;
}

.num-sold {
    font-style: italic;
    font-size: 13px;
}

.new {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 700;
    border: 2px double #e03550;
    color: #e03550;
    z-index: 888;
}